<div class="jumbotron">
    <div class="container">
        <form [formGroup]= "productForm">
         <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0" >
                <h3>Add New Product </h3>
                   <div class="form-group">
                    <label>
                      <h5>Product</h5>
                    </label>
                    <input type='text' formControlName = "ProductName" PlaceHolder="Input product name" class="form-control"/>

                   </div>
                   <div class = "form-group">
                      <label>
                          <h5>Description</h5>
                      </label>
                      <input type='text' formControlName = "Detail" PlaceHolder="Input product description" class="form-control">
                   </div>
                  <div class ="form-group" *ngIf ="Loading === false else onLoading">
                          <label for="TypeInput">
                              <h5> Type </h5>
                            </label>
                            <ng-template #rt let-r="result" let-t="term">
                              <ngb-highlight [result]="r.TypeName" [term]="t">
                              </ngb-highlight>
                            </ng-template>
                                 <input type ="text" [ngbTypeahead]='search'
                                 [inputFormatter]="formatter"
                                 [resultTemplate]="rt"
                                 class = "form-control"
                                 #name id = "TypeInput"
                                 Placeholder="Find or add new Type"
                                 formControlName="TypeId"
                                 >
                               <button type ="submit"
                               class ="mt-2 btn btn-primary"
                               (click) = "AddType(name.value)">
                               Add
                              </button>
                             </div>
                             <ng-template #onLoading>
                           <div class ="form-group">
                              <label for="TypeInput">Type</label>
                              <input type ="text" class = "form-control" #name id = "TypeInput" Placeholder="Add new type" disabled="true">
                              <button type ="submit" class ="mt-3 btn btn-primary" (click) = "AddType(name.value)" disabled="true"> <i class="fas fa-spinner fa-spin"></i> </button>
                           </div>
                          </ng-template>
                          <div class="form-group"></div>
                    <div class ="form-group">
                        <label>
                          <h5> Company </h5>
                        </label>
                              <select formControlName="CompanyId" class=form-control>
                                  <option *ngFor="let company of Companies" [value]="company.CompanyViewModelId" class ="form-control">
                                    {{ company.CompanyName}}
                                  </option>
                                </select>
                      </div>

                      <div class="form-group">
                          <label>
                            <h5>Quantity</h5>
                          </label>
                            <input type='text' formControlName = "Quantity" PlaceHolder="State quantity of the product" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>
                            <h5>Minimal Quantity</h5>
                          </label>
                            <input type='text' formControlName = "ProductState" PlaceHolder="State minimal possible quantity of the product" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>
                            <h5>Price</h5>
                          </label>
                            <input type='number' formControlName = "Price" PlaceHolder="Please, add price here" class="form-control">
                      </div>
                      <div formGroupName = "event">
                       <div   class ="form-group">
                          <label>
                            <h5> Employee </h5>
                          </label>
                          <select  formControlName="PersonId" class= "form-control">
                            <option *ngFor="let employee of Employees" [value]="employee.EmployeeViewModelId" class ="form-control">
                              {{employee.FirstName}} {{employee.LastName}}
                            </option>
                          </select>
                        </div>
                        <div class ="form-group">
                            <label>
                              <h5> Category </h5>
                            </label>
                                      <select formControlName="PrCategoryId" class ="form-control">
                                        <option *ngFor="let category of Categories" [value]="category.CategoryViewModelId" placeholder="Choose category for the product">
                                          {{ category.CategoryName}}
                                        </option>
                                      </select>
                          </div>
                      </div>
                      <div class ="form-group">
                        <label>
                          <h5>Add Image</h5>
                        </label>
                           <div class = "input-group">
                             <div class = "custom-file">
                              <input  #imageInput
                                     class="custom-file-input"
                                     type="file"
                                     accept="image/*"
                                     (change)="processFile1(imageInput)"
                                     />
                                     <label class="custom-file-label" for="imageInput">Choose file</label>
                            </div>
                          </div>
                            <div *ngIf="uploadService.selectedFile">

                              <div *ngIf="uploadService.selectedFile.pending===true" class="img-loading-overlay">
                                  <div class="fa-2x"> <i class="fas fa-spinner fa-spin"></i></div>
                              </div>
                              <div *ngIf="uploadService.selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
                              <div *ngIf="uploadService.selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
                            </div>
                      </div>
                      <div class = "form-group mt-5">
                          <div class ="row">
                              <div class = "col-sm-12 col-md-6" *ngIf ="Submitted === false  else onAdding">
                                 <button  class= "btn btn-primary btn-lg form-control" (click)="onSubmit()" type="submit">Ok</button>
                              </div>
                              <ng-template #onAdding>
                                  <div class = "col-sm-12 col-md-6">
                                      <button  class= "btn btn-primary btn-lg form-control" (click)="onSubmit()" disabled="true" type="submit"><i class="fas fa-spinner fa-spin"></i></button>
                                   </div>
                              </ng-template>
                              <div class = "col-sm-12 col-md-6">
                                 <button  class= "btn btn-danger btn-lg form-control" (click)="getBack()" type="submit">Cancel</button>
                              </div>
                            </div>
                      </div>
                      </div>
        </div>
      </form>
    </div>
</div>
