<div class = "jumbotron">
  <div class = "container">
    <form [formGroup]=eventForm>
       <div class="row">
      <div class="col-md-6  offset-md-3  col-sm-12 offset-sm-0">
        <h3> Add Event Information </h3>
           <div class="form-group">
            <label>
              <h5>Event</h5>
            </label>
            <input type='text' formControlName = "EventName" PlaceHolder="Input event name" class="form-control">
           </div>
           <div class="form-group">
              <label>
                <h5>Event Description</h5>
              </label>
              <input type='text' formControlName = "EventDescription" PlaceHolder="Input event description" class="form-control">
            </div>
            <label>
              <h5>To (if necessary)</h5>
            </label>
           <div class="form-inline mb-3" >
            <div class="form-group">
              <div class="input-group">
                <input  placeholder="yyyy-mm-dd" class ="form-control"
                       name="dps" formControlName="EndDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span class = 'far fa-calendar-check'></span></button>
                </div>
              </div>
            </div>
          </div>

            <div class="form-group">
                <label>
                    <h5>Website</h5>
                </label>
              <input type='text' formControlName = "EventUri" PlaceHolder="Add Link" class="form-control">
            </div>
            <div class ="form-group">
              <label>
                <h5> Type of Event</h5>
              </label>
                    <select formControlName="EventType" class="form-control">
                        <option *ngFor="let event of Eventtypes" [value]="event" class ="form-control">
                          {{event}}
                        </option>
                      </select>
            </div>
            <div class ="form-group">
                <label>
                  <h5> Employee</h5>
                </label>
                      <select formControlName="PersonId" class="form-control">
                          <option *ngFor="let employee of Employees" [value]="employee.EmployeeViewModelId" class ="form-control">
                            {{employee.FirstName}} {{employee.LastName}}
                          </option>
                        </select>
            </div>
                <div class ="form-group" formArrayName = "Products">
                  <div class ="row">
                    <div class = "col-12">
                      <label>
                        <h5> Products </h5>
                      </label>
                    </div>
                  </div>

                    <div *ngFor= "let product of eventForm.get(['Products']).controls; let i=index" [formGroupName] = "i">
                      <div class ="row">
                        <div class ="col-10"><label>
                            <h5> Product {{i+1}} </h5>
                           </label>
                        </div>
                        <div class="col-2 text-right">
                          <button (click)="removeProduct(i)" class="btn btn-danger"> <span class="fas fa-cut"></span></button>
                        </div>
                      </div>

                      <div class ="form-group" >
                        <div class = "form-group">
                          <label>
                              <h5> Choose Product </h5>
                            </label>
                                      <select formControlName="ProductId" class ="form-control" id="product{{i}}">
                                        <option *ngFor="let product of EnumProducts" [value]="product.PrProductModelBriefId" placeholder="Choose Product">
                                          {{product.Name}}
                                        </option>
                                      </select>
                        </div>
                        <div class ="form-group">
                          <label>
                            <h5> Category </h5>
                          </label>
                                    <select formControlName="CategoryId" class ="form-control" id="Category{{i}}">
                                      <option *ngFor="let category of Categories" [value]="category.CategoryViewModelId" placeholder="Choose category for the product">
                                        {{ category.CategoryName}}
                                      </option>
                                    </select>
                        </div>
                        <div class="form-group">
                          <label>
                            <h5>Quantity</h5>
                          </label>
                          <input type='number' formControlName = "TakenQuantity" PlaceHolder="How many units do you take or add?" class="form-control">
                         </div>
                      </div>

                    </div>
                    <div class ="row">
                      <div class="col-12">
                        <button (click)="AddProduct()" class = "btn btn-primary btn-lg">Add new Product</button>
                      </div>
                     </div>
              </div>

             <div *ngIf="EventStat.Status === 'failed'" class="alert alert-danger"> Fail to add event. Please try again later.</div>
             <div class="form-group mt-5">
               <div class ="row">
                 <div class = "col-sm-12 col-md-6" *ngIf="Submitted === false  else onAdding">
                    <button  class= "btn btn-primary btn-lg form-control" (click)="OnSubmit()" type="submit">Ok</button>
                 </div>
                 <ng-template #onAdding>
                    <div class = "col-sm-12 col-md-6">
                        <button  class= "btn btn-primary btn-lg form-control" (click)="OnSubmit()" disabled="true" type="submit"><i class="fas fa-spinner fa-spin"></i></button>
                     </div>
                 </ng-template>
                 <div class = "col-sm-12 col-md-6">
                    <button  class= "btn btn-danger btn-lg form-control" (click)="getBack()" type="submit">Cancel</button>
                 </div>
               </div>
             </div>

      </div>
    </div>
   </form>
 </div>
</div>
